<div>
    <h3>Login</h3>

    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="userRegisterForm">
          <fieldset>
          <label for="email">Email</label>
          <input type="text" id="email" formControlName="email" />

          <div *ngIf="!userRegisterForm.get('email').valid &&
              (userRegisterForm.get('email').dirty || submitted)">
            Has introducido mal tu email
          </div>
        </fieldset>
          
          <fieldset>
          <label for="password">Password:</label>
          <input type="password" id="password" formControlName="password" />

          <div *ngIf="!userRegisterForm.get('password').valid &&
              (userRegisterForm.get('password').dirty || submitted)">
            Has introducido mal tu contraseña
          </div>
        </fieldset>
      
          <button type="submit" [disabled]="!userRegisterForm.valid">Submit</button>
      
      </form>
